* {
    box-sizing: border-box;
    text-align: center;
}
h1 {
    margin-top: auto;
}
.marginbot {
    margin-bottom: -30x
}
.background {
    margin: auto;
    background-color: azure;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.form1{
    display: block;
    margin-left: 1px;
    margin-bottom: =50px;
}
.buttoncontainer{
    margin-left: 800px;
    margin-left: 800px;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    padding: 10px 0; 
}
.buttonstyle{
    outline: 50px;
    width: 50px;
    height: 50px;
    outline-color: black;
}
.background2 {
    
}
.maindiv {
    font-size: 30px;
    font-family: cursive;
    word-wrap: break-word;
}
footer {
    margin-top: 100px;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 0 8%;
    background-image: url(images/img.jpg)
    background-position: center;
    background-size: cover
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launcher-time div p{
    font-size: 60px;
    margin: -14px;
}