.center {
    text-align: center;
}
h1 {
    margin-top: auto;
}
.background {
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.background2 {
    background-color: black;
}
.maindiv {
    font-size: 30px;
    font-family: cursive;
    word-wrap: break-word;
}
footer {
    margin-top: 300px;
}